 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    font-family: "poppins",sans-serif;
    color: #2b2727;
    line-height: 1.8;
    font-size: 15px;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    color: #1b1a1a;
    line-height: 1.2;
}
img {
    width: 100%;
    height: auto;
}
ul {
    list-style: none;
}
.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.nav-items {
    display: flex;
}
.nav-items .nav-item {
    color: grey;
    transition: all 0.4s ease;
    margin-left: 24px;
}
.nav-items .nav-item:hover {
    color: sienna;
}
.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.img-studio {
    width: 900px;
    height: 300px;
    object-fit: contain;
}
.container h1 {
    font-size: 54px;
}
.services {
    display: block;
    justify-content: center;
    text-align: center;
}
#cardContainer {
    display: grid;
    grid-template-columns: auto auto auto;
}
.card {
    display: block;
    max-width: 300px;
    box-shadow: #92a1d1;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.appointment {
    background-color: rgb(165, 5, 10);
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: auto;
}
.calender-wrapper {
    display: block;
    width: 770px;
    background: whitesmoke;
    border-radius: 10px;
    margin: auto;
    
}
.calender-wrapper button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }
  #header {
    padding: 10px;
    color: #d36c6c;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
  }
  #header button {
    background-color:#92a1d1;
  }
#weekdays {
    width: 100%;
    display: flex;
    color: #247BA0;
}
#weekdays div {
    width: 100px;
    padding: 10px;
}
#calender {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#review-form {
    display: block;
    justify-content: center;
    text-align: center;
}


.review-us {
    display: block;
    justify-content: center;
    text-align: center;
}
.reviewCard  {
    background-color: rgb(223, 157, 50);
    padding: 10px;
    text-align: left;
    margin: 20px;
    

}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(52, 27, 3);
    min-height: 200px;
    color: beige;
    
}
.footer h3{
    color: beige;
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
